<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel='stylesheet' type='text/css' href='templates/hstyle.css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Drexel4</title>
</head>
 
<body>
    <header>
    <div class="wrapper">
        <h1>Drexel4<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Profile</a></li>
              
                <li><a href="/media">Media</a></li>
                <li><a href="/community">Campus Activities</a></li>
                <li><a href = "/post_page">Make a Post</li>
              \
              <li><a href = "/clubs">Clubs.html</li>
            </ul>
        </nav>
    </div>
</header>
    
   